@model SALEERP.ViewModel.AgentDetailsVM;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Agent Type";

}
@*<link href="~/Content/PagedList.css" rel="stylesheet" />*@
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="card card-info">
                        <div class="card-body">

                            <div class="input-group input-group-sm">
                                @Html.DropDownListFor(model => model.AgentDetails.FirstOrDefault().AgentCode, Model._agentuser as IEnumerable<SelectListItem>, "Select")
                                @Html.ValidationMessageFor(model => model.AgentDetails.FirstOrDefault().AgentCode, "", new { @class = "text-danger" })
                                <span class="input-group-append">
                                   <button type="button" onclick="CreateView()" href="javascript:void(0)" class="btn btn-info btn-flat" style="background-color:mediumseagreen;" >Create New </button>
                                </span>
                            </div>
                        </div>

                        </div>
                       
                        @*<h3 class="card-title">DataTable with minimal features & hover style</h3>*@

                        <div class="col-md-10">
                           
                        </div>
                    </div>
                    @*<div class="form-group">
           Agent Type
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AgentDetails.FirstOrDefault().AgentCode , Model._agentuser as IEnumerable<SelectListItem>, "Select")
                @Html.ValidationMessageFor(model =>  model.AgentDetails.FirstOrDefault().AgentCode, "", new { @class = "text-danger" })
            </div>
        </div>*@
                    <form asp-page="/Pool" method="get" class="form-inline ml-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" name="searchstring" value="@Model.AgentDetails.FirstOrDefault()?.searchstring" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="card-body">
                        <div class="text-center w-full p-t-25 p-b-80">
                            <span class="text-danger">@Html.ValidationSummary(false)</span>
                            <span asp-validation-summary="All" class="text-danger"></span>
                            @*<a href="#" class="txt1">
                Forgot Username / Password?
            </a>*@
                        </div>
                       
                    <div style="height: 200px; overflow: auto;">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>

                                <tr style="background-color:mediumseagreen;" >
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> @Html.DisplayNameFor(model => model.AgentDetails.FirstOrDefault().Name)</a>

                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AgentDetails.FirstOrDefault().Address)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model.AgentDetails)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Address)
                                        </td>

                                        <td>
                                            <a onclick="getEditView(@item.AgentId,'@item.AgentCode')" href="javascript:void(0)">Edit</a>
                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.StaffID })*@ |

                                            @Html.ActionLink("Delete", "GetAgentDeleted", new { id = item.AgentId })
                                        </td>
                                    </tr>
                                }
                        </table>



                        <div id="pagingDiv">@Html.Raw(ViewBag.Paging)</div>
                    </div>
                        @*<br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.pa PagedListPager(Model, Page_No => Url.Action("Index",
            new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))*@
                    </div>
                        <!-- /.card-body -->
                    </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<section>
    <div style="background-color:mediumseagreen;" >
        <div id="CDiv" class="col-md-6">

        </div>

        <div id="EditDiv" class="col-md-6">

        </div>
    </div>
</section>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>

<script type="text/javascript">
    function CreateView() {

       // console.log($("#AgentCode option:selected").val());
        if ($("#AgentCode option:selected").val() == 'dr') {
            $.post("@Url.Action("Driver", "AgentUser")", { agentid: $("#AgentCode option:selected").val() }, function (data) {
                if (data) {
                    $('#CDiv').html('');
                    $('#EditDiv').html('');
                    $('#CDiv').append(data);
                }
            });
        }
         if ($("#AgentCode option:selected").val() == 'le') {
            $.post("@Url.Action("Leader", "AgentUser")", { agentid: $("#AgentCode option:selected").val() }, function (data) {
                if (data) {
                    $('#CDiv').html('');
                    $('#EditDiv').html('');
                    $('#CDiv').append(data);
                }
            });
        }

        if ($("#AgentCode option:selected").val() == 'ec') {
            $.post("@Url.Action("Escort", "AgentUser")", { agentid: $("#AgentCode option:selected").val() }, function (data) {
                if (data) {
                    $('#CDiv').html('');
                    $('#EditDiv').html('');
                    $('#CDiv').append(data);
                }
            });
        }
         if ($("#AgentCode option:selected").val() == 'de') {
            $.post("@Url.Action("Demo", "AgentUser")", { agentid: $("#AgentCode option:selected").val() }, function (data) {
                if (data) {
                    $('#CDiv').html('');
                    $('#EditDiv').html('');
                    $('#CDiv').append(data);
                }
            });
        }
         if ($("#AgentCode option:selected").val() == 'ex') {
            $.post("@Url.Action("Excursion", "AgentUser")", { agentid: $("#AgentCode option:selected").val() }, function (data) {
                if (data) {
                    $('#CDiv').html('');
                    $('#EditDiv').html('');
                    $('#CDiv').append(data);
                }
            });
        }
         if ($("#AgentCode option:selected").val() == 'pi') {
            $.post("@Url.Action("principle", "AgentUser")", { agentid: $("#AgentCode option:selected").val() }, function (data) {
                if (data) {
                    $('#CDiv').html('');
                    $('#EditDiv').html('');
                    $('#CDiv').append(data);
                }
            });
        }

        }
   
    function getEditView(id,code) {
        debugger;
            $.post("@Url.Action("ShowEditAgent", "AgentUser")", { id: id,code:code }, function (data) {
                if (data) {
                    $('#CDiv').html('');
                    $('#EditDiv').html('');
                    $('#EditDiv').append(data);
                }
            });
        }
    

    
</script>


