@model IEnumerable<SALEERP.ViewModel.UserLoginVM>;
@using PagedList.Mvc;
@{
    ViewBag.Title = "User";

}
<link href="~/Content/PagedList.css" rel="stylesheet" />

    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <button type="button" onclick="CreateView()" href="javascript:void(0)" style="background-color:khaki;" class="btn btn-info btn-flat">Create New </button>
                        @*<h3 class="card-title">DataTable with minimal features & hover style</h3>*@
                    </div>

                    <form asp-page="/User" id="search" method="get" class="form-inline ml-3">
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-navbar" type="search" name="searchstring" value="@Model.FirstOrDefault()?.searchstring" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-navbar" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>

                                <tr style="background-color:khaki" >
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"> @Html.DisplayNameFor(model => model.UserName)</a>

                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserPass)
                                    </th>
                                    @*<th>
                                        @Html.DisplayNameFor(model => model.UserEmail)
                                    </th>*@
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserPhone)
                                    </th>
                                    <th>
                                        <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.RoleName)</a>
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserPass)
                                        </td>
                                        @*<td>
                                            @Html.DisplayFor(modelItem => item.UserEmail)
                                        </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserPhone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleName)
                                        </td>
                                        <td>
                                            <a onclick="getEditView(@item.UserId)" href="javascript:void(0)">Edit|</a>
                                            @*<a onclick="deleteuser(@item.UserId)" href="javascript:void(0)">Delete</a>*@
                                            @*@Html.ActionLink("Edit", "Edit", new { id = item.StaffID })*@

                                            @Html.ActionLink("Delete", "GetUserDeleted", new { id = item.UserId })

                                        </td>
                                    </tr>
                                }
                        </table>



                        <div id="pagingDiv">@Html.Raw(ViewBag.Paging)</div>
                        @*<br />
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            @Html.pa PagedListPager(Model, Page_No => Url.Action("Index",
                                new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))*@
                    </div>
                    <div>
                        <span class="text-danger">@Html.ValidationSummary(false)</span>
                        <span asp-validation-summary="All" class="text-danger"></span>
                        @*<a href="#" class="txt1">
                                Forgot Username / Password?
                            </a>*@
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    
    <section>
        <div  style="background-color:khaki">
            <div id="CDiv" class="col-md-6">

            </div>

            <div id="EditDiv" class="col-md-6">

            </div>
        </div>
    </section>

    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>

    <script type="text/javascript">
        function CreateView() {
            $.post("@Url.Action("ShowCreatePartailView", "User")", function (data) {
                if (data) {
                    $('#CDiv').append(data);
                }
            });

        }

        function getEditView(id) {
            $.post("@Url.Action("ShowEditPartailView", "User")", {id: id}, function(data) {
                if (data) {
                    $('#EditDiv').append(data);
                }
            });
    }
      @*function deleteuser(id) {
            $.post("@Url.Action("GetUserDeleted", "User")", {id: id}, function(data) {
                 $("final").submit();
            });
         
        }*@
    </script>

